<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Zen</title>
		
		<link rel="stylesheet" href="css/normalise.css">
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/content.css">
	</head>

	<body>
		<header>
			<h2 class="left"></h2>
			<h1></h1>
			<h2 class="right"></h2>

			<svg id="close" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		</header>
		<nav>
			<div class="content">
				<svg class="left" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/><path d="M0-.5h24v24H0z" fill="none"/></svg>

				<svg class="right" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/><path d="M0-.25h24v24H0z" fill="none"/></svg>
			</div>
		</nav>

		<section id="output">

		</section>

		<div id="loader"></div>
		<footer>
			<script src="js/jquery-3.2.1.min.js"></script>
			<script src="js/functions.js"></script>
		</footer>
	</body>
</html>