<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Perspectives 2018</title>

    <meta name="description" content="Ardian">
    <meta name="author" content="Ardian">
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

  </head>
  <body>
    <div class="modal-foreword" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                    
                    <img class="logo" src="img/Edito-img.png" alt="logo"/>
                    <div class="people-img">
                        <img class="drc" src="img/img-drc-gen.png" alt="logo"/>
                        <h3 class="name"> <span>Jean Bassères,</span> <br> directeur général </h3>
                        
                    </div>
                    
                    <h3 class="name padding"> <span>PAUL BAZIN</span> <br> Directeur de la stratégie et des affaires institutionnelles </h3>
                    
                    <blockquote>Quelles sont les directions prioritaires <br> de développement de la RSE à Pôle emploi ?</blockquote>
                
                    <p> 
                        Être un service public responsable, c’est-à-dire faire en sorte que nos
                        services soient pleinement accessibles à l’ensemble des demandeurs
                        d’emploi et des entreprises. Nous développons des services pour renforcer
                        l’accessibilité, notamment dans nos agences, et nous luttons contre les
                        discriminations en encourageant les entreprises à recourir à des méthodes
                        innovantes de recrutement, telles que la MRS.
                    </p>

                    <p>
                    Être un employeur responsable : recruter des personnes en situation de handicap dans nos équipes, ou encore faire attention à notre empreinte carbone.
                    </p>

                    <p> 
                    Être un acheteur responsable, c’est-à-dire inciter nos fournisseurs à recruter des personnes en situation d’insertion professionnelle.
                    </p>

                   <blockquote>Quels en sont les éléments <br>les plus marquants ?</blockquote>

                    <p> 
                       La RSE à Pôle emploi ne date pas d’hier. Depuis 2011, nous publions un bilan carbone. La RSE est très imprégnée au sein du réseau de Pôle emploi.
                    </p>

                    <p>
                        Si je devais retenir une réalisation marquante, je parlerais du déploiement
                        récent, dans toutes les agences de Pôle emploi, d’un dispositif d’accueil des
                        personnes sourdes et malentendantes, avec notamment un service distant
                        d'interprétation en langue des signes (LSF) et de transcription instantanée
                        de la parole.
                    </p>

                    <blockquote>À quoi ressemblerait Pôle emploi dans quelques années avec une RSE qui aurait intégré tous les gestes métier et les pratiques de l'institution ?</blockquote>

                    <p>
                       Pôle emploi, dans quelques années, pleinement imprégné par la RSE, c’est Pôle emploi dans lequel l’ensemble des salariés est conscient de son impact social, essaie de le renforcer, et conscient de son empreinte environnementale essaie de la diminuer. C’est tellement intégré qu’on ne parle même plus de RSE au sein de Pôle emploi !
                    </p>

                    <p>
                        Et puis dans 10 ans, l’objectif c’est aussi que Pôle emploi soit reconnu dans la sphère publique et plus largement dans la société comme un acteur de référence en matière de responsabilité sociétale et environnementale.
                    </p>
                    
                    <h3 class="name2"> <span>PASCAL-PIERRE PONSON-SACQUARD</span> <br> Adjoint au Directeur des achats </h3>
                    
                    <blockquote>Comment voyez-vous votre métier dans un contexte où la RSE aurait totalement intégré les façons de travailler à Pôle emploi ?</blockquote>
                
                    <p> 
                        Aujourd’hui, j’ai un métier plutôt tourné vers les aspects de performance économique, mais aussi sociétaux et environnementaux. Demain, je pense que mon métier sera encore plus tourné vers l’animation et la facilitation, aussi bien en interne vis-à-vis de nos prescripteurs, que vis-à-vis des entreprises partenaires. <br> Et ceci afin de développer encore plus la RSE, en interne et en externe.
                    </p>
                    
                  <h3 class="name3"> <span>SAMIRA BELHOUL</span> <br> Responsable d’équipe en agence de Pôle emploi Colombes </h3>
                    
                    <blockquote>Comment concevoir une stratégie RSE pérenne ?</blockquote>
                
                    <p> 
                        Pour concevoir une stratégie RSE efficace et pérenne, il faut s’assurer de son portage en continu par la ligne managériale, d’où l’importance accrue en terme de perspectives du rôle des managers de proximité, ceux qui agissent au plus près des usagers et des collaborateurs. En effet, faire le pari de la confiance, c’est faire le pari de l’intelligence collective, c’est croire en la force de nos complémentarités, de nos différences. Mais qu’est ce qui rassemble nos différences ? Si ce n’est de partager des valeurs communes, des valeurs citoyennes, éthiques, des valeurs sociétales finalement, portées par des managers engagés et responsables.
                    </p>
                    
                        <h3 class="name4"> <span>THÉRÈSE SALMON</span> <br> Responsable du service Innovation/RSE Hauts-de-France </h3>
                    
                    <blockquote>La RSE est-elle aussi un vecteur de sens pour le service public de l’emploi ?</blockquote>
                
                    <p> 
                        La responsabilité sociétale est un vecteur de sens pour le service public de l’emploi. <br> Parmi les engagements de Pôle emploi, inscrits dans son plan stratégique 2015-2020, l’accessibilité tient une place prépondérante. Ces engagements conduisent à mettre les services de Pôle emploi en proximité de toutes et tous, c’est-à-dire à promouvoir la diversité, à lutter contre les discriminations et à acheter responsable par l’insertion de clauses sociales dans nos marchés, qui permettent à des publics éloignés de l’emploi d’y accéder plus facilement.
                    </p>
                    
                    <p class="video"> Voir la vidéo "perspectives 2018" ici : <br> <a target="_blank" href="http://rapport-annuel.pole-emploi.org/rapport-de-responsabilite-societale/home.html"> rapport-annuel.pole-emploi.org/rapport-de-responsabilite-societale/home.html </a> </p>
                    <!--<img src="img/portrait-foreword.jpg"/>

                    <a href="http://fr.zone-secure.net/17591/268411/#page=4" target="_blank" class="read-more">En savoir plus</a>-->

                </div>          
            </div>
          </div>           
        </div>
      </div>
    </div>
  </body>
</html>