.ff0_45733_16{font-family:sans-serif;visibility:hidden;}
.m0_45733_16{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0_45733_16{vertical-align:0.000000px;}
.ls4_45733_16{letter-spacing:-1.020000px;}
.ls2_45733_16{letter-spacing:-0.850000px;}
.ls0_45733_16{letter-spacing:-0.760000px;}
.ls5_45733_16{letter-spacing:-0.680000px;}
.ls7_45733_16{letter-spacing:-0.560000px;}
.ls3_45733_16{letter-spacing:-0.340000px;}
.ls1_45733_16{letter-spacing:0.000000px;}
.ls6_45733_16{letter-spacing:0.680000px;}
.sc__45733_16{text-shadow:none;}
.sc0_45733_16{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc__45733_16{-webkit-text-stroke:0px transparent;}
.sc0_45733_16{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws9_45733_16{word-spacing:-5.304000px;}
.ws5_45733_16{word-spacing:-2.482000px;}
.ws4_45733_16{word-spacing:-2.210000px;}
.ws6_45733_16{word-spacing:-2.142000px;}
.ws0_45733_16{word-spacing:-2.052000px;}
.ws8_45733_16{word-spacing:-1.980000px;}
.ws7_45733_16{word-spacing:-1.938000px;}
.ws3_45733_16{word-spacing:-1.530000px;}
.ws2_45733_16{word-spacing:-1.292000px;}
.wsa_45733_16{word-spacing:-1.092000px;}
.ws1_45733_16{word-spacing:0.000000px;}
._1_45733_16{margin-left:-2.819600px;}
._2_45733_16{margin-left:-1.098200px;}
._0_45733_16{width:1.064000px;}
.fc2_45733_16{color:rgb(36,87,33);}
.fc1_45733_16{color:rgb(255,255,255);}
.fc0_45733_16{color:rgb(91,197,242);}
.fs4_45733_16{font-size:28.000000px;}
.fs1_45733_16{font-size:34.000000px;}
.fs0_45733_16{font-size:38.000000px;}
.fs2_45733_16{font-size:60.000000px;}
.fs3_45733_16{font-size:104.000000px;}
.y0_45733_16{bottom:0.000000px;}
.y29_45733_16{bottom:23.096500px;}
.yd_45733_16{bottom:151.975500px;}
.y17_45733_16{bottom:155.575500px;}
.yc_45733_16{bottom:162.175500px;}
.y16_45733_16{bottom:165.775500px;}
.yb_45733_16{bottom:172.375500px;}
.y15_45733_16{bottom:175.975500px;}
.ya_45733_16{bottom:182.575500px;}
.y14_45733_16{bottom:186.175500px;}
.y9_45733_16{bottom:192.775500px;}
.y13_45733_16{bottom:196.375500px;}
.y8_45733_16{bottom:202.975500px;}
.y12_45733_16{bottom:206.575500px;}
.y1e_45733_16{bottom:208.975500px;}
.y7_45733_16{bottom:213.175500px;}
.y11_45733_16{bottom:216.775500px;}
.y1d_45733_16{bottom:219.175500px;}
.y10_45733_16{bottom:226.975500px;}
.y1c_45733_16{bottom:229.375500px;}
.y6_45733_16{bottom:231.879500px;}
.yf_45733_16{bottom:237.175500px;}
.y1b_45733_16{bottom:239.575500px;}
.y5_45733_16{bottom:243.279500px;}
.ye_45733_16{bottom:247.375500px;}
.y1a_45733_16{bottom:249.775500px;}
.y4_45733_16{bottom:254.679500px;}
.y19_45733_16{bottom:259.975500px;}
.y3_45733_16{bottom:266.079500px;}
.y18_45733_16{bottom:270.175500px;}
.y2_45733_16{bottom:277.479500px;}
.y1_45733_16{bottom:288.879500px;}
.y20_45733_16{bottom:349.183000px;}
.y1f_45733_16{bottom:362.213500px;}
.y27_45733_16{bottom:471.545200px;}
.y26_45733_16{bottom:502.745200px;}
.y25_45733_16{bottom:533.945200px;}
.y24_45733_16{bottom:565.145200px;}
.y23_45733_16{bottom:596.345200px;}
.y22_45733_16{bottom:712.456400px;}
.y21_45733_16{bottom:733.456400px;}
.y28_45733_16{bottom:813.543300px;}
.h5_45733_16{height:24.072000px;}
.h4_45733_16{height:24.412000px;}
.h8_45733_16{height:25.760000px;}
.h3_45733_16{height:28.662000px;}
.h2_45733_16{height:32.034000px;}
.h6_45733_16{height:55.200000px;}
.h7_45733_16{height:78.609375px;}
.h1_45733_16{height:841.764706px;}
.h0_45733_16{height:841.890000px;}
.w1_45733_16{width:595.058824px;}
.w0_45733_16{width:595.276000px;}
.x0_45733_16{left:0.000000px;}
.x1_45733_16{left:42.519700px;}
.x5_45733_16{left:71.149600px;}
.x2_45733_16{left:218.826600px;}
.xb_45733_16{left:271.788500px;}
.xc_45733_16{left:290.175200px;}
.x9_45733_16{left:292.643300px;}
.x6_45733_16{left:303.381300px;}
.x7_45733_16{left:304.421300px;}
.xa_45733_16{left:339.937300px;}
.x8_45733_16{left:344.981300px;}
.x4_45733_16{left:358.300000px;}
.x3_45733_16{left:394.654500px;}
